* {
    padding: 0px;
}

body {
    background-color: #1f1f1f;
    color: #dfdfdf;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
 
}

.top-nav-bar {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;   
}

#top-bar-options  {
    display: flex;
}


.lower-section {
    display: flex;
    flex-direction: row;
}

#side-nav-bar {
    width: 10rem;
}

.main-content {
    width: 100%;
}

.title {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}


.image-block-container > div {
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    font-size: large;
    
}

.image-block-container > div:hover {
    background-color: #4F4F4F;
}


img {
    width: 100%;
    padding: 10px;

}

#top-bar-options .nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

#side-nav-bar .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
}